
#container {
    padding: 16px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 80vh;
}

li {
  margin-bottom: 8px;

}

.delete-btn {
  margin-left: 16px;
}

.tasks {
  list-style-type: none;
  padding: 0;
  margin: 16px 0;
  width: 100%;
  max-width: 600px;
}

.form {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}