
#container {
    padding: 16px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

li {
  margin-bottom: 8px;

}

.delete-btn {
  margin-left: 16px;
}